@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #41a67e;
  --secondary-color: #ffbe54;
  --dark-color: #2f2f2f;
  --gray-color: #f3f3f3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  /* border: 1px solid red; */
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark-color);
}

.navigation {
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 1.2rem;
  position: fixed;
  bottom: 30px;
  left: 50%;
  animation: idle 2s infinite ease-in;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navigation ul li a img {
  width: 2rem;
}

.card {
  background-color: var(--gray-color);
  border-radius: 1.2em;
  padding: 20px;
}

.btn {
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 1.2em;
  text-decoration: none;
}

/* UTILITY CLASS */
.container {
  padding: 0px 2rem;
}

@keyframes idle {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, 10px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

/* TABLET UP */
@media (min-width: 768px) {
  .container {
    padding: 0px 4rem;
  }
}

/* DESKTOP UP */
@media (min-width: 992px) {
  .container {
    padding: 0px 8rem;
  }
}
