@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #41a67e;
  --secondary-color: #ffbe54;
  --dark-color: #2f2f2f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 15px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark-color);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 1.2rem;
  position: fixed;
  bottom: 10px;
  left: 50%;
}

/* UTILITY CLASS */
.container {
  padding: 0px 2rem;
}

/* TABLET UP */
@media (min-width: 768px) {
  .container {
    padding: 0px 6rem;
  }
}

/* DESKTOP UP */
@media (min-width: 992px) {
  .container {
    padding: 0px 8rem;
  }
}
