@import url("./global.css");

body {
  background-color: var(--primary-color);
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

main .logo {
  color: white;
  font-size: 3rem;
}

main .panel {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 8px 29px 38px 15px rgba(0, 0, 0, 0.1);
}

main .panel .panel__field {
  width: 100%;
}

main .panel .panel__field input {
  padding: 20px;
  background-color: var(--gray-color);
  width: 100%;
  border-radius: 1.2em;
}

main .panel .panel__field .panel__field__optional {
  display: flex;
  justify-content: space-between;
}

main
  .panel
  .panel__field
  .panel__field__optional
  .panel__field__optional__rememberme {
  display: flex;
  gap: 10px;
  white-space: nowrap;
}

main .panel .panel__field .panel__field__optional a {
  text-decoration: none;
}

main .panel .panel__field .btn-submit {
  background-color: var(--dark-color);
  display: block;
  width: 100%;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 1.2em;
  text-decoration: none;
}

/* TABLET UP */
@media (min-width: 768px) {
  main .panel {
    min-width: 24rem;
  }
}

/* DESKTOP UP */
@media (min-width: 992px) {
}
