@import url("./../global.css");
@import url("./../dashboard-template.css");

.dashboard .add-btn {
  display: inline-block;
  margin-left: 0px;
  margin-top: 10px;
  color: white;
  background-color: var(--secondary-color);
}

.dashboard .dashboard__content__list .dashboard__content__list__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .dashboard__content__list .dashboard__content__list__filter input {
  padding: 20px;
  background-color: var(--gray-color);
  border-radius: 1.2em;
}

.dashboard .dashboard__content__list .dashboard__content__list__filter button {
  background: none;
}
.dashboard
  .dashboard__content__list
  .dashboard__content__list__filter
  button
  img {
  width: 40px;
}

.dashboard .dashboard__content__list .dashboard__content__list__entries {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.dashboard .dashboard__content__list .dashboard__content__list__entries a {
  text-decoration: none;
  color: var(--dark-color);
}

.dashboard .dashboard__content__list .dashboard__content__list__entries .card {
}

.dashboard
  .dashboard__content__list
  .dashboard__content__list__entries
  .card
  .card__body {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  white-space: nowrap;
}

.dashboard
  .dashboard__content__list
  .dashboard__content__list__entries
  .card
  .card__body
  .card__body__evaluation {
  display: none;
}

.dashboard
  .dashboard__content__list
  .dashboard__content__list__entries
  .card
  .card__body
  .card__body__score {
  display: none;
}

.dashboard
  .dashboard__content__list
  .dashboard__content__list__entries
  .card
  .card__body
  .card__body__juz {
  display: none;
}

/* TABLET UP */
@media (min-width: 768px) {
  .dashboard .add-btn {
    margin-top: 0;
    margin-left: 20px;
  }

  .dashboard
    .dashboard__content__list
    .dashboard__content__list__entries
    .card
    .card__body
    .card__body__score {
    display: block;
  }

  .dashboard
    .dashboard__content__list
    .dashboard__content__list__entries
    .card
    .card__body
    .card__body__juz {
    display: block;
  }
}

/* DESKTOP UP */
@media (min-width: 992px) {
}
